/* Hide buttons on touch devices */
@media (pointer: coarse) {
    #left-btn, #right-btn, #carousel-next, #carousel-prev {
        display: none;
    }
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html {
    scroll-behavior: smooth;
}



/* WYSIWYG content container */
.content-wysiwyg {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  color: oklch(var(--bc)); /* base-foreground */
}

/* Headings */
.content-wysiwyg h1,
.content-wysiwyg h2,
.content-wysiwyg h3,
.content-wysiwyg h4 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: var(--n); /* neutral */
}

.content-wysiwyg h2{
    font-size: 1.3rem;
}

.content-wysiwyg h3{
    font-size: 1rem;
}

/* Paragraph spacing */
.content-wysiwyg p {
  margin-bottom: 1em;
  font-size: 1.1rem;
}

/* Links */
.content-wysiwyg a {
  color: oklch(var(--p)); /* primary color */
  text-decoration: underline;
  transition: color 0.2s ease;
}

.content-wysiwyg a:hover {
  color: oklch(var(--bc)); /* primary foreground or contrast color */
  text-decoration: underline; /* or keep underline if you want */
}

/* Lists */
.content-wysiwyg ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1em;
  list-style-position: outside;
}

.content-wysiwyg ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1em;
  list-style-position: outside;
}

/* Images */
.content-wysiwyg img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem; /* rounded-lg */
  margin: 1em 0;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1); /* shadow-md */
  display: block;
}

/* Tables */
.content-wysiwyg table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid var(--n); /* neutral border */
}

.content-wysiwyg th,
.content-wysiwyg td {
  border: 1px solid var(--n);
  padding: 0.75rem 1rem;
  text-align: left;
  color: var(--bf);
}

/* Blockquotes */
.content-wysiwyg blockquote {
  border-left: 4px solid oklch(var(--p)); /* primary color */
  padding-left: 1rem;
  color: var(--nf); /* neutral foreground */
  font-style: italic;
  margin: 1em 0;
}
